<h2 id="title">Welcome to Ember</h2>
{{outlet}}
<ul>
  <li>
    {{t-error this.emailError}}
  </li>
  <li>
    {{t-error this.nameError}}
  </li>
  <li>
    {{t-error this.notFoundError}}
  </li>
</ul>